.container__small-card {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  text-align: left;
}

.text__small-card {
  position: absolute;
  bottom: 8px;
  padding-left: 5px;
}

.buttons__small-card {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.buttons__small-card > button {
  border-radius: 10px;
  padding: 2px;
  margin-right: 5px;
}
